@model Projet_Final.Models.Furniture

@{
	ViewData["Title"] = "Détails meuble";
}

<h1 class="text-center my-3">Détails d'un meuble</h1>

<div class="container">
	<hr />
	<div class="row justify-content-center">
		<div class="col-6">
			<dl class="row">
				<dt class="col-sm-3">
					@Html.DisplayNameFor(model => model.Name)
				</dt>
				<dd class="col-sm-9">
					@Html.DisplayFor(model => model.Name)
				</dd>
				<dt class="col-sm-3">
					@Html.DisplayNameFor(model => model.Description)
				</dt>
				<dd class="col-sm-9">
					@Html.DisplayFor(model => model.Description)
				</dd>
				<dt class="col-sm-3">
					@Html.DisplayNameFor(model => model.Price)
				</dt>
				<dd class="col-sm-9">
					@Model.Price.ToString("F2") $
				</dd>
				<dt class="col-sm-3">
					@Html.DisplayNameFor(model => model.Comments)
				</dt>
				<dd class="col-sm-9">
					@(Model.Comments == null ? "-" : Model.Comments)
				</dd>
				<dt class="col-sm-3">
					@Html.DisplayNameFor(model => model.TypeFurniture)
				</dt>
				<dd class="col-sm-9">
					@Html.DisplayFor(model => model.TypeFurniture.Name)
				</dd>
			</dl>
		</div>
		<div class="col-4">
			<img src="@Model.UrlPicture" alt="@Model.Name" style="max-height:20rem" class="img-thumbnail rounded-3" />
		</div>
	</div>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-10">
			<a class="btn btn-primary me-2" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id">Add</a>
			<a class="btn btn-secondary" asp-action="Index">Retour</a>
		</div>
	</div>
</div>
