@model IEnumerable<Furniture>

@{
	ViewData["Title"] = "Magasin";
}

<div class="text-center mb-5">
	<h1 class="display-4">Magasin Larmoire</h1>
</div>

<div class="container">
	<div class="row g-4 d-flex justify-content-around">
		@foreach (var item in Model)
		{
			<div class="card rounded-pill text-center overflow-hidden border-0 p-0 m-3" style="width: 18rem;">
				<img src="@item.UrlPicture" class="card-img-top" alt="...">
				<div class="card-body bg-dark text-white">
					<h5 class="card-title fw-bold">@item.Name</h5>
					<p class="card-text">@item.Description</p>
					<div>
						<a class="btn btn-light px-3 rounded-pill" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id">
							<i class="bi bi-cart-plus"></i>
							@item.Price.ToString("F2")$
						</a>
					</div>
					<a class="btn btn-outline-light mt-3 rounded-circle" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
						<i class="bi bi-eye"></i>
					</a>
				</div>
			</div>
		}
	</div>
</div>